<div class="container">
  <div>
    <h1>New Game</h1>
    <p>Write the longest word you can find as fast as possible</p>
      <ul>
        <%@letters.each do|letter| %>
        <li><%=letter%></li>
        <%end %>
      </ul>
    </div>
    <div>
      <form action="/score" method= "post">
        <input type="text" name="attempt">
        <input type="submit" value="GO!">
      </form>
    </div>
</div>
