<div>
  <h1>title</h1>
  <div>
    <h2>grid</h2>
  </div>
  <div>
    <form action="/score" method= "post">
      <input type="text" name="attempt">
      <input type="submit" value="GO!">
    </form>
  </div>
</div>
